.buttom_container {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.buttom {
    text-align: center;


}

.buttom a {
    padding: 10px 25px;
    display: block;
    width: 100px;

}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    width: 95%;
    height: 100%;
}

.player input {
    display: none;
}

.button_container {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.button {
    text-align: center;

}

.button a {
    padding: 10px 0;
    display: block;

}

.button a,
.button button {
    width: 150px;
}