.footer {
    width: 100%;
    height: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #edf3f6;
    position: fixed;
    bottom: 0px;
}

.footer span {
    font-style: italic;
}

.footer {
    font-size: .7em;
}