.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.player span {
    font-size: 2em;
}

.win,
.delete {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}


.win {
    background: rgb(224, 202, 3);
}

.delete {
    background: #dc3545;
}

.win span {
    margin-left: 1em;
}

.delete span {
    margin-right: 1em;
}