.win,
.delete,
.add,
.remove {
    min-width: 65px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
    color: #FFF;
}


.win {
    background: rgb(224, 202, 3);
}

.delete {
    background: #f84052;
}

.add {
    background: #4582dd;
}

.remove {
    background: #f3b667;
}